.main-content {
    padding: 40px 0;
}

.article-preview {
    border: 1px solid #ccc;
    padding: 20px;
    padding-bottom: 40px;
    transition: all .5s;
    margin-bottom: 40px;
}

.article-preview:hover {
    box-shadow: 0 14px 30px -15px rgba(0, 0, 0, .75);
}

.article-preview h2 {
    font-size: 20px;
    margin-bottom: 0;
    font-weight: 600;
}

.article-preview a {
    color: #484848;
    transition: all .5s;
}

.article-preview a:hover {
    color: #f42267;
    text-decoration: none;
}

.article-preview .article-date {
    color: #da1757;
    font-size: 13px;
    font-weight: 600;
}

.article-preview .thumb {
    border: 5px solid #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    margin: 0 20px 20px 0;
    float: left;
}

.article-preview .more {
    color: #da1757;
}

.article-preview .more:hover {
    text-decoration: underline;
}

.widget-title {
    color: #484848;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 25px;
    position: relative;
}

.sidebar-widget ul {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: .25rem;
}

.sidebar-widget li {
    position: relative;
    display: block;
    padding: .5rem 1rem;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
}

.sidebar-widget li:first-child {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.sidebar-widget li:last-child {
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.sidebar-widget li a {
    display: block;
    color: #495057;    
}

.sidebar-widget .list-group-item.active,
.sidebar-widget .current-cat {
    background-color: #da1757;
    border-color: #da1757;
}

.sidebar-widget .list-group-item:hover,
.sidebar-widget li:hover {
    background-color: #da1757;
    color: #fff;
    border-color: #f42267;
}

.sidebar-widget li:hover a,
.sidebar-widget .current-cat a {
    color: #fff;    
}

.widget-title::after {
    content: "";
    height: 2px;
    position: absolute;
    left: 0;
    top: 30px;
    width: 30px;
    background-color: #da1757;
}

.pagination ul {
    display: flex;
    padding-left: 0;
    list-style: none;
}

.pagination .page-link,
.pagination li .page-numbers {
    color: #da1757;
    transition: all .5s;
    padding: .375rem .75rem;
    padding-left: 1rem;
    padding-right: 1rem;
    position: relative;
    display: block;
    color: #0d6efd;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.pagination li:first-child .page-numbers {
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.pagination li:last-child .page-numbers {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.pagination .page-link:hover,
.pagination a.page-numbers:hover {
    background-color: #da1757;
    color: #fff;
    border-color: #f42267;
}

.pagination .page-item.active .page-link,
.pagination li .current {
    background-color: #da1757;
    border-color: #da1757;
    color: #fff;
}